<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>By</span>
    <a
      b-slate-link
      href="https://gyhui.cn" target="_blank"
    >
      地之理
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/gyhui1019/chatgplay" target="_blank"
    >
      代码库
    </a>
  </p>
</footer>
